@media(max-width: 1200px){
    #logo > img{
        width: 150px;
    }
    .input-top-wrap{
        width: 420px;
        margin: 0 auto;
        /* background: red; */
        position: relative;
    }
}

@media(max-width: 1125px){
    .img-hidden{
        display: inline-block;
    }
    .input-top-wrap{
        display: none;
    }
    .header-top-child{
        justify-content: space-between;
    }
    .input-top-bottom{
        display: block;
    }
}

@media(max-width: 992px){
    .toggle-slide{
        top: 25px;
        left: 50%;
        transform: translateX(-25%);
        min-width: 50%;
        height: 350px;
        overflow-y: scroll;
        background: #fff;
        color: #fff;
    }
    .toggle-slide::-webkit-scrollbar {
        width: 2px;
        background: transparent;
    }
    .toggle-slide::-webkit-scrollbar-thumb {
        background: var(--primary);
    }        
    .toggle-child-box{
        width: 48%;
        margin: 0 auto;
    }   
    .footer-wrap{
        flex-wrap: wrap;
    }
    .footer-child-1{
        width: 50%;
    }
    .footer-child-2{
        width: 50%;
    }
    #logo-bottom{
        width: 100%;
    }
    .wrap-copy{
        margin: 0;
        display: flex;
        align-items: center;
    }
    .footer-bottom-icon {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-left: auto;
    }
    .nav_fixed_middle {
        display: flex;
    }
    .input_inner_wrapper {
        padding: 25px 50px;
    }
}

@media(max-width: 800px){
    .toggle-child-box{
        width: 100%;
        margin: 0 auto;
    }   
}

@media(max-width: 900px){
    .main_input_sec {
        width: 70%;
    }
    .toggle-slide{
        max-width: 40%;
        transform: translateX(-5%);
        -webkit-transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
    }
}

@media(max-width: 768px){
    .footer-child-1{
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.801);
        margin-bottom: 15px;
    }
    .footer-child-2{
        width: 100%;
    }
    .wrap-copy{
        padding: 10px 0;
    }
    .footer-bottom-icon {
        width: 100%;
        margin-top: 15px;
    }
    .input_title > h2 {
        font-size: 20px;
    }
    .icon-1 a div:nth-child(2){
        display: none;
    }
    .icon-1:nth-child(2) a div svg{
        margin-top: -12px;
    }
    .icon-1:nth-child(1){
        margin-right: 10px;
    }
    .hero-child-1 {
        min-width: 220px;
    }
    .hero-child-1 {
        min-width: 220px;
    }
}

@media(max-width: 600px){
    .main_input_sec {
        width: 80%;
    }
    .input_inner_wrapper {
        margin: 40px 0;
    }
}

@media(max-width: 500px){
    /* slide */
    .scroll-nav-ul li a{
        font-size: 14px;
    }
    .scroll-nav-ul li:not(:last-child){ 
        margin-right: 20px;
    }
    .main_input_sec {
        width: 85%;
    }
    
    .input_inner_wrapper {
        padding: 25px;
        margin: 0;
    }
    
    .input_title > h2 {
        font-size: 20px;
        text-align: center;
    }
    
    .input_title > p {
        font-size: 16px;
        padding-left: 5px;
    }

    .input_form_wrapper > label {
        font-size: 14px;
    }

    .input_form_wrapper > input {
        height: 40px;
    }
    .main_input_sec {
        width: 100%;
    }
    .input_bottom_text{
        font-size: 14px;
    }
    .toggle-slide{
        top: 40px;
        left: 60%;
        min-width: 140px;
        height: 50vh;
        z-index: 999999999999999999;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    .toggle-slide > div {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 10px;
    }
    .hero-child-1 > div {
        padding: 10px 0;
        padding-top: 30px;
    }
}

@media(max-width: 400px){
    .scroll-nav-ul li a{ 
        font-size: 10px;
    }
    .social-icons{
        justify-content: center;
    }
    .social-icons li {
        width: 80%;
    }
    .social-icons li a{
        height: auto;
    }
} 
